<form class="form-container" [formGroup]="registrationForm" (ngSubmit)="submit()">
  <h2>Створити користувача</h2>
  <div class="form-control">
    <label for="nameCaption">Name: </label>
    <input id="nameCaption" class="field-input" type="name" placeholder="enter name" formControlName="name">
    <div
      *ngIf="isControlInvalid('name')"
      class="validation"
    >
      <small>{{ getContolError('name') }}</small>
    </div>
  </div>

  <div class="form-control">
    <label for="phoneCaption">Phone: </label>
    <input id="phoneCaption" class="field-input" type="password" placeholder="enter phone" formControlName="phone">
    <div
      *ngIf="isControlInvalid('phone')"
      class="validation"
    >
      <small>{{ getContolError('phone') }}</small>
    </div>
  </div>

  <div class="form-control">
    <label for="emailCaption">Email: </label>
    <input id="emailCaption" class="field-input" type="text" placeholder="enter email" formControlName="email">
    <div
      *ngIf="isControlInvalid('email')"
      class="validation"
    >
      <small>{{ getContolError('email') }}</small>
    </div>
  </div>

  <div class="form-control">
    <label for="passwordCaption">Password: </label>
    <input id="passwordCaption" class="field-input" type="password" placeholder="enter password" formControlName="password">
    <div
      *ngIf="isControlInvalid('password')"
      class="validation"
    >
      <small>{{ getContolError('password') }}</small>
    </div>
  </div>

  <button
    type="submit"
    class="btn btn-primary"
    [disabled]="registrationForm.invalid"
  >Зареєструватися</button>
</form>
