<div class="wrapper">
  <h1
    mat-dialog-title
    class="align-center"
  >
  Зареєструватися
  </h1>
  <hr>
  <form
    [formGroup]="registrationForm"
    class="flex-form"
    #form
  >
    <mat-form-field appearance="legacy">
      <mat-label>Iм’я</mat-label>
      <input
        matInput
        formControlName="first_name"
        required
      >
      <mat-icon matSuffix>face</mat-icon>
      <mat-error
        *ngIf="isControlInvalid('first_name')"
        class="validation"
      >
      {{ getControlError('first_name') }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="legacy">
      <mat-label>Прізвище</mat-label>
      <input
        matInput
        formControlName="last_name"
        required
      >
      <mat-icon matSuffix>face</mat-icon>
      <mat-error
        *ngIf="isControlInvalid('last_name')"
        class="validation"
      >
      {{ getContolError('last_name') }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="legacy">
      <mat-label>Електронна пошта</mat-label>
      <input
        matInput
        formControlName="email"
        required
        email
      >
      <mat-icon matSuffix>alternate_email</mat-icon>
      <mat-error
        *ngIf="isControlInvalid('email')"
        class="validation"
      >
      {{ getControlError('email') }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="legacy">
      <mat-label>Новий пароль</mat-label>
      <input
        matInput
        [type]="hide ? 'password' : 'text'"
        formControlName="password"
        required
      >
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error
        *ngIf="isControlInvalid('password')"
        class="validation"
      >
      {{ getControlError('password') }}
      </mat-error>
    </mat-form-field>
  </form>

  <div
    mat-dialog-actions
    class="flex-button"
  >
    <button
      mat-button
      color="primary"
      mat-dialog-close
    >
    Закрити
    </button>
    <button
      mat-button
      color="warn"
      (click)="form.reset()"
    >
    Скинути
    </button>
    <button
      mat-flat-button
      color="primary"
      (click)="submit()"
      [disabled]="registrationForm.invalid"
    >
    Надіслати
    </button>
  </div>
</div>
