.wrapper {
  max-width: 1024px;
  padding: 1rem;
  margin: 0 auto;
}

.flex-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.margin-card {
  margin-bottom: 7px;
}

/* .align-card-content {
  text-align: justify;
} */
