.wrapper {
  max-width: 1024px;
  padding: 1rem;
  margin: 0 auto;
}

.flex-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.margin-card {
  margin-bottom: 7px;
}

.flex-button {
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
}

.center-margin {
  margin: 0 auto;
}
