<div class="wrapper">
  <div *ngIf="post$ | async as post; else loader">
    <mat-card class="margin-card">
      <mat-card-header class="flex-card">
        <mat-card-title>{{ post.title }}</mat-card-title>

        <mat-card-actions>
          <button
            mat-stroked-button
            routerLink="/"
            color="primary"
          >
          Назад
        </button>
        </mat-card-actions>
      </mat-card-header>

      <div *ngIf="post.image_url; else placeholder">
        <img
          mat-card-image
          [src]="post.image_url"
          alt="Photo of a event"
        >
      </div>

      <mat-card-subtitle>{{ post.starts_at }}</mat-card-subtitle>

      <mat-card-content>
        <p>
          {{ post.body }}
        </p>
      </mat-card-content>
    </mat-card>

      <app-need
        *ngFor="let requirement of post.requests"
        [requirement]="requirement"
    ></app-need>
  </div>

  <!-- <mat-card class="margin-card">
    <span>Поміняти напрямок руху дороги в центрі.</span>

    <mat-card class="flex-card">
      <span>Можу вирішити юридичний аспект за 2000$.</span>
      <mat-card-actions class="flex-button">
        <a
          mat-button
          href="tel:+3096-444-44444"
          color="primary"
        >Подзвонити</a>
        <button
          mat-flat-button
          color="primary"
        >
        Підтвердити
        </button>
        <button
          mat-button
          color="warn"
        >
        Відхилити
        </button>
      </mat-card-actions>
    </mat-card>
  </mat-card> -->
</div>

<ng-template #loader>
  <mat-spinner class="center-margin"></mat-spinner>
</ng-template>

<ng-template #placeholder>
  <img
      mat-card-image
      src="../../../../assets/images/post-placeholder.jpg"
      alt="Photo of a event"
    >
</ng-template>
