.wrapper {
  max-width: 1280px;
  padding: 1rem;
  margin: 0 auto;
}

.flex-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.bottom-margin {
  margin-bottom: 7px;
}

.flex-button {
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
}

.center-margin {
  margin: 0 auto;
}

.width-card {
  max-width: 584px;
}

/* .left-margin {
  margin-left: .5rem;
  margin-left: 7px;
} */

