.card {
  padding: 1rem;
  margin: .5rem .5rem;
  max-width: 400px;
}

/* .flex-card {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
} */

.flex-button {
  display: flex;
  justify-content: space-between;
}

.image-height {
  height: 205px;
  width: 398px;
}

.hide-img {
  display: none;
}

.title-height {
  height: 67px;
}
