<mat-card class="card">
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title class="title-height">{{ post.title }}</mat-card-title>
  </mat-card-header>

  <!-- <div *ngIf="post.image_url; else placeholder">
    <div
      *ngIf="loader; else loading"
      class="image-height"
    >
      <img
        mat-card-image
        class="image-height"
        [src]="post.image_url"
        [class.hide-img]="loaded"
        (load)="loader()"
        alt="Photo of a event"
      >
    </div>
  </div> -->

  <div *ngIf="post.image_url; else placeholder">
    <div class="image-height">
      <img
        mat-card-image
        class="image-height"
        [src]="post.image_url"
        alt="Photo of a event"
      >
    </div>
  </div>

  <!-- <mat-card-actions class="flex-button">
    <button
      mat-button
      color="primary"
    >
      <ng-container [ngSwitch]="post.category_id">
        <ng-container *ngSwitchCase="1">Виставка</ng-container>
        <ng-container *ngSwitchCase="2">Концерт</ng-container>
        <ng-container *ngSwitchCase="3">Навчання</ng-container>
        <ng-container *ngSwitchCase="4">Навчання</ng-container>
        <ng-container *ngSwitchCase="5">Зустріч</ng-container>
        <ng-container *ngSwitchCase="6">Свято</ng-container>
        <ng-container *ngSwitchCase="7">Інше</ng-container>
        <ng-container *ngSwitchDefault>Категорія не вказана</ng-container>
      </ng-container>
    </button> -->

    <mat-card-actions class="flex-button">
    <button
      mat-button
      color="primary"
    >
      {{ categoryName }}
    </button>

    <button
      mat-flat-button
      [routerLink]="['/post', post.id]"
      color="primary"
    >Детальніше</button>
  </mat-card-actions>
</mat-card>

<ng-template #placeholder>
  <img
      mat-card-image
      src="../../../../assets/images/post-placeholder.jpg"
      alt="Photo of a event"
    >
</ng-template>

<ng-template #loading>
  <mat-spinner class="center-margin"></mat-spinner>
</ng-template>
