<!-- <div class="card">
  <div>
    <small>Категорія</small>
  </div>
  <div class="card-header">
    <h2>Назва події</h2>
  </div>
  <button
    [routerLink]="['/post', 12312]"
    class="btn btn-dark"
  >Детальніше</button>
</div> -->

<!-- <mdb-card>
  <mdb-card-img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg" alt="Card image cap"></mdb-card-img>

  <mdb-card-body>
    <mdb-card-title>
      <h4>Назва події</h4>
    </mdb-card-title>

    <mdb-card-text>Категорія</mdb-card-text>

    <a [routerLink]="['/post', 12312]" mdbBtn color="primary" mdbWavesEffect>Детальніше</a>
  </mdb-card-body>
</mdb-card> -->

<mdb-card>
  <div class="view rgba-white-slight waves-light" mdbWavesEffect>
    <mdb-card-img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" alt="Card image cap"></mdb-card-img>

    <a>
      <div class="mask"></div>
    </a>
  </div>

  <mdb-card-body>
    <mdb-card-title>
      <h4>Назва події</h4>
    </mdb-card-title>

    <mdb-card-text>Категорія</mdb-card-text>

    <a [routerLink]="['/post', 12312]" mdbBtn color="primary" mdbWavesEffect>Детальніше</a>
  </mdb-card-body>
</mdb-card>
