<mat-card class="card">
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>{{ post.title }}</mat-card-title>
    <!-- <mat-card-subtitle><span>ID: </span>{{ post.id }}</mat-card-subtitle> -->
  </mat-card-header>
  <img mat-card-image src="../../../../assets/images/post-placeholder.jpg" alt="Photo of a event">
  <!-- <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content> -->
  <mat-card-actions class="flex-button">
    <button
      mat-button
      color="primary"
    >
      <ng-container [ngSwitch]="post.category_id">
        <ng-container *ngSwitchCase="1">Виставка</ng-container>
        <ng-container *ngSwitchCase="2">Концерт</ng-container>
        <ng-container *ngSwitchCase="3">Навчання</ng-container>
        <ng-container *ngSwitchCase="4">Навчання</ng-container>
        <ng-container *ngSwitchCase="5">Зустріч</ng-container>
        <ng-container *ngSwitchCase="6">Свято</ng-container>
        <ng-container *ngSwitchCase="7">Інше</ng-container>
        <ng-container *ngSwitchDefault>Категорія не вказана</ng-container>
      </ng-container>
    </button>
    <!-- <button mat-button [routerLink]="['/post', post.id]">Детальніше</button> -->
    <button
      mat-flat-button
      [routerLink]="['/post', 12312]"
      color="primary"
    >Детальніше</button>
  </mat-card-actions>
</mat-card>
