<div class="wrapper">
   <h1 mat-dialog-title>{{ data.description }}</h1>
  <hr>
  <form
    [formGroup]="needForm"
    class="flex-form"
    #form
  >
    <mat-form-field
      class="width-field"
      appearance="legacy"
    >
      <mat-label>Опишіть вашу пропозицію</mat-label>
      <input
        matInput
        formControlName="description"
        required
      >
      <mat-icon matSuffix>mode_edit</mat-icon>
      <mat-error
        *ngIf="isControlInvalid('description')"
        class="validation"
      >
      {{ getControlError('description') }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="legacy">
      <mat-label>Ціна</mat-label>
      <input
        matInput
        type="number"
        formControlName="price_cents"
        required
      >
      <span matPrefix>₴&nbsp;</span>
      <mat-icon matSuffix>money</mat-icon>
      <mat-error
        *ngIf="isControlInvalid('price_cents')"
        class="validation"
        required
        pattern
      >
      {{ getControlError('price_cents') }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="legacy">
      <mat-label>№ мобільного телефону</mat-label>
      <input
        matInput
        formControlName="phone_number"
        required
        pattern
      >
      <mat-hint>номер для зворотнього зв'зку</mat-hint>
      <mat-icon matSuffix>phone_iphone</mat-icon>
      <mat-error
        *ngIf="isControlInvalid('phone_number')"
        class="validation"
      >
      {{ getControlError('phone_number') }}
      </mat-error>
    </mat-form-field>
  </form>

  <div
    mat-dialog-actions
    class="flex-button"
  >
    <button
      mat-button
      color="primary"
      mat-dialog-close
      (click)="form.clo"

    >
    Закрити
    </button>
    <button
      mat-button
      color="warn"
      (click)="form.reset()"
    >
    Скинути
    </button>
    <button
      mat-flat-button
      color="primary"
      (click)="submit()"
      [disabled]="needForm.invalid"
    >
    Надіслати
    </button>
  </div>
</div>
