<mat-card class="bottom-margin">
    <span>Поміняти напрямок руху дороги в центрі.</span>

    <mat-card class="bottom-margin">
      <span>Можу вирішити юридичний аспект за 2000$.</span>
      <mat-card-actions class="flex-button">
        <a
          mat-button
          href="tel:+3096-444-44444"
          color="primary"
        >Подзвонити</a>
        <button
          mat-flat-button
          color="primary"
        >
        Підтвердити
        </button>
        <button
          mat-button
          color="warn"
        >
        Відхилити
        </button>
      </mat-card-actions>
    </mat-card>
  </mat-card>

