.container {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.7rem 2rem;
  z-index: 1;
  width: 100%;
  opacity: 0.9;
  margin-bottom: 1rem;
  border-bottom: 1px solid #333333;
}

.caption-link {
  text-decoration: none;
}

.navigation-list {
  list-style: none;
  display: flex;
}

.navigation-link {
  text-decoration: none;
  padding-right: 15px;
}

.navigation-link:hover {
  color: #666;
}

.btn {
  display: inline-block;
  background: #f4f4f4;
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
}

/* .btn-link {
  background: none;
  padding: 0;
  margin: 0;
} */
