.wrapper {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
}

.spacer {
  flex: 1 1 auto;
}

.navigation-link:hover {
  color: whitesmoke;
}

.header-title {
  text-decoration: none;
  color: whitesmoke
}

.button-container {
  right: 5%;
  bottom: 10%;
  left: auto;
  position: fixed;
  z-index: 1;
}
