<header>
  <mat-toolbar color="primary">

    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <a mat-menu-item routerLink="/">Головна</a>
      <a mat-menu-item routerLink="/poster">Афіша</a>
      <a mat-menu-item routerLink="/about">О нас</a>
    </mat-menu>

    <span>Чівент</span>

    <span class="spacer"></span>

    <!-- <mat-form-field class="example-full-width">
      <mat-label for="serchCaption"></mat-label>
      <mat-icon matSuffix>search</mat-icon>
      <input id="serchCaption" type="search" matInput placeholder="пошук за назвою"
        aria-label="Search through site content">
    </mat-form-field> -->

    <!-- <section>
      <mat-nav-list>
        <mat-list-item><a mat-button class="navigation-link" routerLink="/">Головна</a></mat-list-item>
        <mat-list-item><a mat-button class="navigation-link" routerLink="/poster">Афіша</a></mat-list-item>
        <mat-list-item><a mat-button class="navigation-link" routerLink="/about">О нас</a></mat-list-item>
      </mat-nav-list>
    </section> -->

    <mat-list>
      <mat-list-item>
        <a mat-icon-button class="navigation-link" aria-label="exit-to-app">
          <mat-icon>exit_to_app</mat-icon>
        </a>
      </mat-list-item>
      <mat-list-item>
        <a mat-icon-button class="navigation-link" aria-label="person-add" routerLink="/registration">
          <mat-icon>person_add</mat-icon>
        </a>
      </mat-list-item>
    </mat-list>

  </mat-toolbar>
</header>

<div class="button-container">
  <a mat-fab color="primary" routerLink="/event" aria-label="add new event">
    <mat-icon>add</mat-icon>
  </a>
</div>

<div class="wrapper">
  <router-outlet></router-outlet>
</div>
