<header>
  <mat-toolbar color="primary">

    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <a mat-menu-item routerLink="/">Головна</a>
      <a mat-menu-item routerLink="/poster">Афіша</a>
      <a mat-menu-item routerLink="/about">О нас</a>
    </mat-menu>

    <span>Чівент</span>

    <span class="spacer"></span>

    <mat-form-field floatLabel="never">
      <mat-label for="serchCaption">пошук за назвою</mat-label>
      <input matInput id="serchCaption">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

    <span class="spacer"></span>

    <mat-list>
      <mat-list-item>
        <a
          mat-icon-button
          routerLink="/user/login"
          aria-label="exit-to-app"
        >
          <mat-icon>login</mat-icon>
        </a>
      </mat-list-item>
      <mat-list-item>
        <a
          mat-icon-button
          aria-label="person-add"
          (click)="openDialog()"
        >
          <mat-icon>person_add</mat-icon>
        </a>
      </mat-list-item>
    </mat-list>

  </mat-toolbar>
</header>

<div class="wrapper">
  <router-outlet></router-outlet>
</div>
