.wrapper {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
}

.navigation-link:hover {
  color: whitesmoke;
}

.spacer {
  flex: 1 1 auto;
}

.button-container {
  right: 10%;
  bottom: 10%;
  left: auto;
  position: absolute;
}

/* .logo-font {
  font-family: 'Amatic SC', cursive;
  font-size: 32px;
} */

/* .flex-container {
  display: flex;
  justify-content: space-around;
} */
