<!-- <header>
  <nav class="navbar">
    <h1 class="logo-font">
      Cheevent
      <a class="caption-link" routerLink="/">Cheevent</a>
    </h1>
    <ul class="navigation-list">
      <li><a class="navigation-link" routerLink="/">Головна</a></li>
      <li><a class="navigation-link" routerLink="/poster">Афіша</a></li>
      <li><a class="navigation-link" routerLink="/about">О нас</a></li>
    </ul>
    <button class="btn">додати подію</button>
    <ul class="navigation-list">
      <li><a class="navigation-link" routerLink="/event">+ додати подію</a></li>
    </ul>
    <ul class="navigation-list">
      <li><a class="navigation-link" href="#">Вхід</a></li>
      <li><a class="navigation-link" routerLink="/registration">Реєстрація</a></li>
    </ul>
  </nav>
</header> -->

<header>
  <p>
    <mat-toolbar color="primary">
      <span>ЧІВЕНТ</span>
      <section>
        <mat-nav-list>
          <mat-list-item><a mat-button routerLink="/">Головна</a></mat-list-item>
          <mat-list-item><a mat-button routerLink="/poster">Афіша</a></mat-list-item>
          <mat-list-item><a mat-button routerLink="/about">О нас</a></mat-list-item>
        </mat-nav-list>
      </section>

       <span class="example-spacer"></span>
       <mat-nav-list>
        <a mat-list-item mat-button routerLink="/">
          <mat-icon>exit_to_app</mat-icon>
        </a>
        <a mat-list-item mat-button routerLink="/registration">
          <mat-icon>person_add</mat-icon>
        </a>
       </mat-nav-list>




       <!-- <mat-list dense>
        <mat-list-item> <a mat-icon-button aria-label="exit-to-app">
          <mat-icon>exit_to_app</mat-icon>
        </a> </mat-list-item>
        <mat-list-item>
          <a mat-icon-button aria-label="person-add" routerLink="/registration">
            <mat-icon>person_add</mat-icon>
          </a>
        </mat-list-item>
       </mat-list> -->
    </mat-toolbar>
  </p>

</header>

<div class="wrapper">
  <router-outlet></router-outlet>
</div>
