<div class="wrapper">
  <mat-card class="card">
    <h1 class="align-center">Створення події</h1>
    <hr>

    <form
      [formGroup]="eventForm"
      class="flex-form"
      #form
    >
      <mat-form-field
        class="width-field"
        appearance="legacy"
      >
        <mat-label>Назва події</mat-label>
        <input
          matInput
          formControlName="title"
          required>
        <mat-error
          *ngIf="isControlInvalid('title')"
          class="validation"
        >
          {{ getContolError('title') }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="legacy">
        <mat-label>Категорія</mat-label>
        <mat-select formControlName="category_id" required>
          <mat-option
            *ngFor="let category of categories"
            [value]="category.value"
          >
            {{category.viewValue}}
          </mat-option>
        </mat-select>
        <mat-error
          *ngIf="isControlInvalid('category_id')"
          class="validation"
        >
          {{ getContolError('category_id') }}
        </mat-error>
      </mat-form-field>

      <mat-form-field
        class="width-field"
        appearance="legacy"
      >
        <mat-label>Опис</mat-label>
        <textarea
          matInput
          formControlName="body"
          required
        ></textarea>
        <mat-error
         *ngIf="isControlInvalid('body')"
         class="validation"
        >
          {{ getContolError('body') }}
        </mat-error>
      </mat-form-field>

      <!-- <mat-form-field
        class="width-field"
        appearance="legacy"
      >
        <mat-label>Потреба</mat-label>
        <input
          matInput
          formControlName="requirement"
        >
        <mat-error
          *ngIf="isControlInvalid('requirement')"
          class="validation"
        >
          {{ getContolError('requirement') }}
        </mat-error>
      </mat-form-field> -->

      <mat-form-field appearance="legacy">
        <mat-label>Дата та час</mat-label>
        <input
         matInput
         formControlName="starts_at"
         type="datetime-local"
        >
      </mat-form-field>

      <!-- <mat-form-field
        class="width-field"
        appearance="legacy"
      >
        <mat-label>Місце проведення</mat-label>
        <textarea
          matInput
          formControlName="place"
        ></textarea>
      </mat-form-field> -->

      <!-- <mat-form-field appearance="legacy">
        <mat-label>Додайте ілюстрацію</mat-label>
        <ngx-mat-file-input formControlName="file">
        </ngx-mat-file-input>
      </mat-form-field> -->
    </form>

    <mat-card-actions class="flex-button">
      <button
        mat-button
        (click)="form.reset()"
      >
      Скинути
      </button>
      <button
        mat-button
        (click)="submit()"
        [disabled]="eventForm.invalid"
      >
      Створити
      </button>
    </mat-card-actions>
  </mat-card>
</div>

<!-- routerLink="/user/posts" -->
