.wrapper {
  max-width: 480px;
  padding: 1rem;
  margin: 0 auto;
}

.flex-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mat-form-field {
  margin-top: 16px;
}

.flex-button {
  display: flex;
  justify-content: center;
}

.button-center {
  margin: 0 auto;
}

.width-field {
  width: 75%;
}

.validation {
  color: #F00;
}

.align-center {
  text-align: center;
}

.md-button {
  padding: 0 6px 0 6px;
  margin: 6px 8px 6px 8px;
  min-width: 88px;
  border-radius: 3px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  text-decoration:none;
  border: none;
  outline: none;
}
