<div class="wrapper">
  <mat-card class="card">
    <h1 class="align-center">Створення події</h1>
    <hr>

    <form
      [formGroup]="eventForm"
      class="flex-form"
      #form
    >
      <mat-form-field
        class="width-field"
        appearance="legacy"
      >
        <mat-label>Назва події</mat-label>
        <input
          matInput
          formControlName="title"
          required>
        <mat-error
          *ngIf="isControlInvalid('title')"
          class="validation"
        >
        {{ getContolError('title') }}
        </mat-error>
      </mat-form-field>

      <mat-form-field
        class="width-field"
        appearance="legacy"
      >
        <mat-label>Опис</mat-label>
        <textarea
          matInput
          formControlName="body"
          required
        ></textarea>
        <mat-error
         *ngIf="isControlInvalid('body')"
         class="validation"
        >
        {{ getContolError('body') }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="legacy">
        <mat-label>Категорія</mat-label>
        <mat-select
          formControlName="category_id"
          required
        >
          <mat-option
            *ngFor="let category of categories"
            [value]="category.id"
          >
          {{ category.name }}
          </mat-option>
        </mat-select>
        <mat-error
          *ngIf="isControlInvalid('category_id')"
          class="validation"
        >
        {{ getContolError('category_id') }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="legacy">
        <mat-label>Дата та час</mat-label>
        <input
          matInput
          formControlName="starts_at"
          type="datetime-local"
          required
        >
        <mat-error
          *ngIf="isControlInvalid('starts_at')"
          class="validation"
        >
        {{ getContolError('starts_at') }}
        </mat-error>
      </mat-form-field>

      <mat-form-field
        class="width-field"
        appearance="legacy"
      >
        <mat-label>Місце проведення</mat-label>
        <textarea
          matInput
          formControlName="location"
        ></textarea>
      </mat-form-field>

      <div formArrayName="requests_attributes">
        <button
          mat-stroked-button
          (click)="addRequirement()"
          color="primary"
        >
        Додати потребу
        </button>
        <div
            *ngFor="let requirement of requests_attributes().controls; let i=index"
            [formGroupName]="i"
          >
          <mat-form-field
            appearance="legacy"
          >
            <mat-label>Потреба</mat-label>
            <input
              matInput
              [formControl]="requirement.get('description')"
            >
          </mat-form-field>
            <button
              mat-button
              color="warn"
              (click)="removeRequirement(i)"
            >
            Видалити
            </button>
        </div>
      </div>

      <!-- <mat-form-field appearance="legacy">
        <mat-label>Додайте ілюстрацію</mat-label>
        <ngx-mat-file-input
          type="file"
          (change)="onFileSelected($event)"
        >
        </ngx-mat-file-input>
      </mat-form-field> -->

        <input
          type="file"
          class="mat-form-field"
          (change)="onFileSelected($event)"
        >
    </form>

    <mat-card-actions class="flex-button">
      <button
        mat-button
        color="warn"
        (click)="form.reset()"
      >
      Скинути
      </button>
      <button
        mat-flat-button
        color="primary"
        (click)="submit()"
        (click)="form.reset()"
        [disabled]="eventForm.invalid"
      >
      Створити
      </button>
    </mat-card-actions>
  </mat-card>
</div>

<!-- routerLink="/user/posts" -->
