<div class="wrapper">
  <mat-card class="card">
      <mat-card-actions class="flex-card">
        <button
          mat-stroked-button
          routerLink="/"
          color="primary"
        >Назад</button>
      </mat-card-actions>
    <mat-card-content class="align-card-content line-height-content">
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium ducimus mollitia praesentium adipisci esse ad ipsa voluptatem repellendus assumenda qui, perspiciatis, quod quidem possimus. Magni commodi impedit nobis eos voluptatum!
      Nobis reprehenderit odit assumenda porro, voluptates quae ipsa quidem nam? In sit tenetur, corporis veniam obcaecati assumenda fugiat impedit modi perspiciatis consequatur, autem molestias ullam asperiores iure aperiam accusantium repellendus.
      Adipisci, et! Non suscipit nobis excepturi dignissimos, ut necessitatibus ullam quidem vel quos at vero illum libero! Voluptatem iusto ipsam inventore totam odit tempore eius reiciendis optio eveniet, delectus eos.
      </p>
    </mat-card-content>
  </mat-card>
