<div class="wrapper" *ngIf="true; else loading">
  <div class="flex-container">
    <div *ngFor="let item of pageSlice">
      <app-post></app-post>
    </div>
  </div>
  <mat-paginator
    (page)="handlePageEvent($event)"
    [length]="length"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    [showFirstLastButtons]="showFirstLastButtons"
    [pageIndex]="pageIndex">
  </mat-paginator>
</div>

<ng-template #loading>
  <mat-spinner class="loader-margin"></mat-spinner>
</ng-template>
