<div class="wrapper" *ngIf="loading; else loader">
  <mat-form-field
    appearance="legacy"
    class="left-margin"
  >
    <mat-label for="serchCaption">пошук за назвою</mat-label>
    <input
      matInput
      id="serchCaption"
      [(ngModel)]="searchStr"
    >
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>

  <div class="flex-container">
    <app-post
      *ngFor="let post of paginationPosts | searchTitle:searchStr"
      [post]="post"
      [categories]="categories"
    ></app-post>
  </div>

  <mat-paginator
    (page)="handlePageEvent($event)"
    [length]="length"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    [showFirstLastButtons]="showFirstLastButtons"
    [pageIndex]="pageIndex">
  </mat-paginator>
</div>

<ng-template #loader>
  <mat-spinner class="center-margin"></mat-spinner>
</ng-template>
