<div *ngIf="userProposal">
  <mat-card class="flex-container bottom-margin">
    <p>
      {{ userProposal.description }} {{ userProposal.price_cents }} <span>грн.</span>
    </p>

    <div class="flex-button">
      <a
        mat-button
        href="tel:+3{{ userProposal.phone_number }}"
        color="primary"
      >Подзвонити
      </a>
      <button
        class="bottom-margin"
        mat-flat-button
        color="primary"
      >
      Підтвердити
      </button>
      <button
        mat-button
        color="warn"
      >
      Відхилити
      </button>
    </div>
  </mat-card>
</div>
