 .flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.bottom-margin {
  margin-bottom: 7px;
}

.flex-button {
  display: flex;
  flex-direction: column;
}
