<div *ngIf="userProposal">
  <mat-card class="bottom-margin">
    <mat-card class="bottom-margin">
      <span>{{ userProposal.description }}</span>
      <span>{{ userProposal.price_cents }}</span>
      <span>{{ userProposal.phone_number }}</span>
      <mat-card-actions class="flex-button">
        <a
          mat-button
          href="tel:+3096-444-44444"
          color="primary"
        >Подзвонити</a>
        <button
          mat-flat-button
          color="primary"
        >
        Підтвердити
        </button>
        <button
          mat-button
          color="warn"
        >
        Відхилити
        </button>
      </mat-card-actions>
    </mat-card>
  </mat-card>
</div>
