<mat-card class="margin-card">
  <div class="flex-card">
    <span>{{ requirement.description }}</span>

      <button
        *ngIf="!isUser"
        mat-flat-button
        (click)="isNavigate()"
        color="primary"
      >
      Запропонувати
      </button>
  </div>

  <ng-container *ngIf="isUser">
    <ng-container *ngIf="isAuthenticated">
      <app-proposal
        *ngFor="let userProposal of requirement.proposals"
        [userProposal]="userProposal"
      >
      </app-proposal>
    </ng-container>
  </ng-container>
</mat-card>
